@maskColor: black;
@width: 500px;
@height: 300px;
@zIndex: 1000;
@bgColor: #f0f0f0;
@color: #363636;
@borderColor: darken(@bgColor, 25%);
@headerBgColor: #595e89;
@headerColor: white;
@radius: 4px;
@padding: 10px;
@primaryButtonBgColor: @headerBgColor;
@buttonBgColor: #cbcbcb;

.transition(@transition) {
	-moz-transition: @transition;
	-webkit-transition: @transition;
	transition: @transition;
}

.gradient-vertical-2(@color1, @color2, @stop1: 0%, @stop2: 100%) {
	background-color: mix(@color1, @color2, 50%);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: linear-gradient(to bottom, @color1 @stop1, @color2 @stop2);
}

.box-sizing(@value) {
	-moz-box-sizing: @value;
	-webkit-box-sizing: @value;
	box-sizing: @value;
}

body.dialog-no-scroll {
	overflow: hidden;
}

.dialog-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: @zIndex;
	background-color: fade(@maskColor, 0);
	&.dialog-mask-transition {
		.transition(background-color 200ms);
	}
	&.dialog-mask-active {
		background-color: fade(@maskColor, 50);
	}
}

.dialog-scroll-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: @zIndex;
	overflow: auto;
	.dialog-container {
		position: absolute;
	}
}

.dialog-container {
	z-index: @zIndex;
	position: fixed;
	height: @height;
	width: @width;
	.gradient-vertical-2(@bgColor, darken(@bgColor, 10%), 85%);
	color: @color;

	&.dynamic {
		top: 50%;
		left: 50%;
		margin-left: -@width / 2;
		margin-top: -@height / 2;
	}

	border: 1px solid @borderColor;
	box-shadow: 5px 5px 10px fade(black, 50);
	border-radius: @radius;

	.dialog-header {
		.gradient-vertical-2(@headerBgColor, darken(@headerBgColor, 10%));
		border-top-left-radius: @radius;
		border-top-right-radius: @radius;
		position: relative;
		color: @headerColor;
		min-height: 19px;
		.dialog-title {
			font-weight: bold;
		}
		.dialog-close {
			@length: 20px;
			position: absolute;
			top: 4px;
			right: 4px;
			cursor: pointer;
			width: @length;
			height: @length;
			line-height: @length;
			text-align: center;
			border-radius: @radius;

			&:hover {
				.gradient-vertical-2(@headerColor, darken(@headerColor, 20%));
				color: @headerBgColor;
			}
			&:focus, &:active {
				.gradient-vertical-2(darken(@headerColor, 20%), @headerColor);
			}
		}
	}

	.dialog-header, .dialog-footer {
		padding: @padding / 2;
	}

	.dialog-body {
		padding: @padding;
		p {
			margin-top: 0;
		}
	}

	.dialog-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		.box-sizing(border-box);
		.dialog-button {
			float: right;
		}
	}

	.dialog-button {
		text-align: center;
		padding: @padding / 2 @padding;
		border-radius: @radius;
		cursor: pointer;
		.transition(all 200ms);
		border: 1px solid transparent;

		&.dialog-button + .dialog-button {
			margin-right: 5px;
		}

		&.dialog-button-primary {
			box-shadow: inset 0 -15px 10px fade(black, 25);
			border-color: @primaryButtonBgColor;
			.gradient-vertical-2(@primaryButtonBgColor, darken(@primaryButtonBgColor, 10%));
			color: @headerColor;
			&:hover {
				box-shadow: none;
			}
			&:active, &:focus {
				.gradient-vertical-2(darken(@primaryButtonBgColor, 10%), @primaryButtonBgColor);
			}
		}

		&.dialog-button-info {
			border-color: @buttonBgColor;
			.gradient-vertical-2(lighten(@buttonBgColor, 10%), darken(@buttonBgColor, 10%));
			&:hover {
				box-shadow: inset 0 -5px 10px fade(black, 15);
			}
			&:active, &:focus {
				.gradient-vertical-2(darken(@buttonBgColor, 10%), @buttonBgColor);
			}
		}
	}
}